{
  "openapi": "3.0.3",
  "info": {
    "title": "minimax-h3-max-turbo",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.omnimux.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/v1/video/generations": {
      "post": {
        "operationId": "minimax_h3_max_turbo",
        "summary": "MiniMax H3 video generation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Queued video task: id, task_id, model, status=queued, created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "enum": [
                        "video"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued"
                      ]
                    },
                    "created": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "id": "task_example",
                  "task_id": "task_example",
                  "object": "video",
                  "model": "minimax/h3-max-turbo",
                  "status": "queued",
                  "created": 1788926400
                }
              }
            }
          },
          "400": {
            "description": "Invalid media, operation or resolution",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "nullable": true,
                          "description": "Additional task error data, commonly null."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "code": {
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ],
                  "description": "Task validation errors use code/message/data; authentication or gateway middleware may use an error envelope."
                },
                "example": {
                  "code": "invalid_request",
                  "message": "720p is retired for H3; explicitly select 768p",
                  "data": null
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "nullable": true,
                          "description": "Additional task error data, commonly null."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "code": {
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ],
                  "description": "Task validation errors use code/message/data; authentication or gateway middleware may use an error envelope."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient quota",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "nullable": true,
                          "description": "Additional task error data, commonly null."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "code": {
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ],
                  "description": "Task validation errors use code/message/data; authentication or gateway middleware may use an error envelope."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "nullable": true,
                          "description": "Additional task error data, commonly null."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "code": {
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ],
                  "description": "Task validation errors use code/message/data; authentication or gateway middleware may use an error envelope."
                }
              }
            }
          },
          "500": {
            "description": "Gateway error",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "nullable": true,
                          "description": "Additional task error data, commonly null."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "code": {
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ],
                  "description": "Task validation errors use code/message/data; authentication or gateway middleware may use an error envelope."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "minimax/h3-max-turbo"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50000
                  },
                  "operation": {
                    "type": "string",
                    "enum": [
                      "text_to_video",
                      "first_frame"
                    ],
                    "description": "Must agree with media: text uses none; first_frame requires one image only."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTP(S) first-frame image; do not combine with image_urls."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "maxItems": 1,
                    "description": "Ordered images; one field spelling per media kind."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "480P",
                      "768P",
                      "1080P"
                    ],
                    "default": "768P",
                    "description": "Case/whitespace normalized. 720p is rejected; select 768P explicitly."
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "enum": [
                          5,
                          10
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "5",
                          "10"
                        ]
                      }
                    ],
                    "default": 5
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "9:16",
                      "1:1"
                    ],
                    "default": "16:9"
                  },
                  "prompt_optimizer": {
                    "type": "boolean",
                    "default": true
                  },
                  "image_with_roles": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "First-frame role form. Do not combine with image_url/image_urls; not accepted by video_multi_ref.",
                    "items": {
                      "type": "object",
                      "required": [
                        "url",
                        "role"
                      ],
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "first_frame"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "model": "minimax/h3-max-turbo",
                "operation": "first_frame",
                "prompt": "The camera moves around the subject",
                "image_url": "https://example.com/first-frame.png",
                "resolution": "768P",
                "duration": 5
              }
            }
          }
        }
      }
    }
  }
}
