{
  "openapi": "3.1.0",
  "info": {
    "title": "OmniMux Publishing — Create Post",
    "version": "provider-isolation"
  },
  "servers": [
    {
      "url": "https://omnimux.ai"
    }
  ],
  "security": [
    {
      "accessToken": [],
      "userId": []
    }
  ],
  "paths": {
    "/api/social/v1/posts": {
      "post": {
        "operationId": "createPost",
        "summary": "Create Post",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Replay must match both source and account set. X-Idempotency-Key is also accepted."
          }
        ],
        "responses": {
          "200": {
            "description": "Check success before reading data. Generic upstream errors may use HTTP 200 with success:false.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "provider": {
                              "type": "string",
                              "enum": [
                                "tiktok_direct",
                                "zernio"
                              ],
                              "description": "Required expected source; never changes the stored account or post provider.",
                              "example": "zernio"
                            },
                            "status": {
                              "type": "string"
                            },
                            "provider_post_id": {
                              "type": "string"
                            },
                            "content_preview": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "idempotency_key": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "provider",
                            "status"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing/unknown provider or invalid request. invalid-provider identifies a missing or unknown source.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Billing-related rejection where applicable; upstream failures may instead be wrapped as success:false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account ownership or access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Account or post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Account, post or idempotency source/account-set mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                },
                "example": {
                  "success": false,
                  "code": "account-provider-mismatch",
                  "message": "account-provider-mismatch"
                }
              }
            }
          },
          "503": {
            "description": "Requested provider is disabled or not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "tiktok_direct",
                      "zernio"
                    ],
                    "description": "Required expected source; never changes the stored account or post provider."
                  },
                  "account_ids": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "description": "Owned OmniMux account IDs, all belonging to the requested source. Official publishing supports one account."
                  },
                  "content": {
                    "type": "string",
                    "description": "Caption. Use content, not text."
                  },
                  "publish_now": {
                    "type": "boolean",
                    "default": true
                  },
                  "scheduled_for": {
                    "type": "string",
                    "description": "Setting this makes publish_now false."
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "queued": {
                    "type": "boolean",
                    "default": false
                  },
                  "media_items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "description": "Official TikTok requires media. Existing provider-specific media and scheduling behavior applies."
                  }
                },
                "required": [
                  "provider",
                  "account_ids"
                ]
              },
              "example": {
                "provider": "zernio",
                "content": "Your original post",
                "account_ids": [
                  123
                ],
                "publish_now": true
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url \"https://omnimux.ai/api/social/v1/posts\" \\\n  --header 'Authorization: Bearer <user-access-token>' \\\n  --header 'New-Api-User: <user-id>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"provider\":\"zernio\",\"content\":\"Your original post\",\"account_ids\":[123],\"publish_now\":true}'"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "OmniMux user access token, not an sk- API key."
      },
      "userId": {
        "type": "apiKey",
        "in": "header",
        "name": "New-Api-User",
        "description": "Current authenticated user ID."
      }
    }
  }
}
