{
  "openapi": "3.1.0",
  "info": {
    "title": "OmniMux Publishing — Get Post",
    "version": "provider-isolation"
  },
  "servers": [
    {
      "url": "https://omnimux.ai"
    }
  ],
  "security": [
    {
      "accessToken": [],
      "userId": []
    }
  ],
  "paths": {
    "/api/social/v1/posts/{id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get Post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "description": "OmniMux local record ID, not the upstream provider ID."
          },
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "tiktok_direct",
                "zernio"
              ],
              "description": "Required expected source; never changes the stored account or post provider."
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ],
              "default": "1"
            },
            "description": "0 reads stored state; 1 refreshes upstream after ownership and provider checks."
          }
        ],
        "responses": {
          "200": {
            "description": "Check success before reading data. Generic upstream errors may use HTTP 200 with success:false.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "provider": {
                              "type": "string",
                              "enum": [
                                "tiktok_direct",
                                "zernio"
                              ],
                              "description": "Required expected source; never changes the stored account or post provider."
                            },
                            "status": {
                              "type": "string"
                            },
                            "provider_post_id": {
                              "type": "string"
                            },
                            "content_preview": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "updated_at": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "result": {}
                          },
                          "required": [
                            "id",
                            "provider",
                            "status"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing/unknown provider or invalid request. invalid-provider identifies a missing or unknown source.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Billing-related rejection where applicable; upstream failures may instead be wrapped as success:false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account ownership or access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Account or post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Account, post or idempotency source/account-set mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                },
                "example": {
                  "success": false,
                  "code": "post-provider-mismatch",
                  "message": "post-provider-mismatch"
                }
              }
            }
          },
          "503": {
            "description": "Requested provider is disabled or not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "OmniMux user access token, not an sk- API key."
      },
      "userId": {
        "type": "apiKey",
        "in": "header",
        "name": "New-Api-User",
        "description": "Current authenticated user ID."
      }
    }
  }
}
