{
  "openapi": "3.1.0",
  "info": {
    "title": "OmniMux Publishing — Start Connection",
    "version": "provider-isolation"
  },
  "servers": [
    {
      "url": "https://omnimux.ai"
    }
  ],
  "security": [
    {
      "accessToken": [],
      "userId": []
    }
  ],
  "paths": {
    "/api/social/v1/connect": {
      "post": {
        "operationId": "startConnect",
        "summary": "Start Connection",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Check success before reading data. Generic upstream errors may use HTTP 200 with success:false.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "auth_url": {
                              "type": "string",
                              "format": "uri"
                            },
                            "platform": {
                              "type": "string"
                            },
                            "provider": {
                              "type": "string",
                              "enum": [
                                "tiktok_direct",
                                "zernio"
                              ],
                              "description": "Required expected source; never changes the stored account or post provider."
                            }
                          },
                          "required": [
                            "auth_url",
                            "platform",
                            "provider"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing/unknown provider or invalid request. invalid-provider identifies a missing or unknown source.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Billing-related rejection where applicable; upstream failures may instead be wrapped as success:false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account ownership or access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Account or post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Requested provider is disabled or not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "tiktok_direct",
                      "zernio"
                    ],
                    "description": "Required expected source; never changes the stored account or post provider."
                  },
                  "platform": {
                    "type": "string",
                    "description": "tiktok_direct only accepts TikTok. zernio follows the configured platform allowlist."
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "Allowed return URL; validated against gateway configuration."
                  }
                },
                "required": [
                  "provider",
                  "platform"
                ]
              },
              "example": {
                "provider": "zernio",
                "platform": "tiktok"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url \"https://omnimux.ai/api/social/v1/connect\" \\\n  --header 'Authorization: Bearer <user-access-token>' \\\n  --header 'New-Api-User: <user-id>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"provider\":\"zernio\",\"platform\":\"tiktok\"}'"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "OmniMux user access token, not an sk- API key."
      },
      "userId": {
        "type": "apiKey",
        "in": "header",
        "name": "New-Api-User",
        "description": "Current authenticated user ID."
      }
    }
  }
}
